<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>




    <!-- Navigation Loop -->
<!--           <header<!--  class="header">
        {{ partial "nav.html" . }}
      </header> --> 

<!-- <nav class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/writing">Books</a></li>
        <li><a href="/about">Me</a></li>
        <li><a href="https://suredream.github.io/cnblog/" target="_blank">光阴典当行</a></li>
    </ul>  
</nav>
 -->
	
<header class="masthead" style="background-image: url(/images/logo.gif); background-size: 300px 242px; background-repeat:no-repeat">
      <!-- <header class="header"> -->
        {{ partial "nav.html" . }}
      <!-- </header> -->
    <!-- <div class="dot"></div> -->
    <h2 class="big-serif">Jun Xiong<a class="small-sans" href="/en/faq#jun">Hmmm..</a></h2>
    <h2 class="small-sans">a scientist <a href="/en/cv">who</a> writes about how to perform<br>
	productive <a href="/en/2017/04/petapixel-scale-analysis/">petapixel-scale analysis</a> to highly dynamic earth <br>
	using <a href="https://croplands.org/" target="_blank">cloud computing</a> and 
	<a href="https://croplands.org/" target="_blank">machine learning</a> techniques.<br>
	Currently I endeavor on <a href="https://croplands.org/" target="_blank">globalcroplands.org</a>.</h2>

</header>


    <!-- <div class="wrapper"> -->



<!-- <h2 class="big-serif">Jun Xiong<a class="small-sans" href="/contact.html#jun">how it sounds?</a></h2>
<h2 class="small-sans">a scientist <a href="/contact.html">who</a> writes about how to perform<br>
  productive <a href="https://croplands.org/" target="_blank">analysis</a> with explosive growing
  <a href="https://croplands.org/" target="_blank">satellite imagery</a><br>
  using <a href="https://croplands.org/" target="_blank">cloud computing</a> and 
  <a href="https://croplands.org/" target="_blank">machine learning</a> techniques.<br>
  Currently I endeavor on <a href="https://croplands.org/" target="_blank">globalcroplands.org</a>.</h2>
 -->
